<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express Web Server | Help</title>
</head>
<body>
  {{> navbar}}
  <h1>{{ pageTitle }}</h1>
  <p>{{screamText 'Help!'}}</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing 
    elit. Optio nesciunt fuga reprehenderit incidunt 
    quod consectetur quia excepturi sed non hic et sit 
    provident, voluptatem ut sint ad dolore ea vero 
    officiis ullam, voluptate cum nisi corrupti dolor? 
    Suscipit mollitia, neque deserunt assumenda alias 
    excepturi exercitationem, velit quae laudantium, 
    necessitatibus dolores.</p>
  {{> footer}}
</body>
</html>